footer .fo-data{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    box-sizing: border-box;
    padding: 20px 80px 10px 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: left;
    line-height: 19px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.fo-data div{
    width: 18%;
    /* border: 1px solid black; */
}
footer i{
    color: rgb(238, 74, 27);
}
footer .fo-data div li:first-child{
    font-weight: bold;
}
.fo-data div li{
    list-style: none;
    margin-left: 20px;
}

.fo-data div li a{
    text-decoration: none;
    color: black;
}
footer div a{
    text-decoration: none;
    color: #111111;
    text-decoration: underline;
}
footer #footer {
    width: 100%;
    margin:auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111111;
    font-size: 13px;
    text-align: center;
    line-height: 19px;
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
  }
footer #footer div {
    width: fit-content;
    margin: auto;
    font-weight: 600;
    margin-top: 20px;
  }